//fonts famaly
@font-face {
    font-family: 'Proxima_reg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima_bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
.reg() {
    font-family: "ProximaNova_reg", sans-serif;
}
.bold() {
    font-family: "ProximaNova_bold", sans-serif;
}
// Colors
@btn-color:#fbb203;
@icons-color:#70c849;
@text: #1a1820;
@wrongcrisscross:#ff0000;
@bg-light:#f5f5f5;
@light: #fff;
@border-input: #dddddd;
@problems-color: hsla(0, 10%, 61%, 0.5);;
@upsell-bg: #286b0a;
// basic setting
html {
    font-size:10px;
}
body {
    .reg;
}
// оформление форм
 .form {
    // поля ввода
    &-input {
        display: block;
        width:100%;
        border: 0.1rem solid @border-input;
        padding: 1.5rem;
        margin: 2rem 0;
        font-size: 2rem;
        border-radius: 10px;
    }
    // подписки к полям
    label {
        position: absolute;
        display: inline-block;
        background: @light;
        padding: 0.5rem;
        font-size: 1.3rem;
        left: 50%;
        transform: translateX(-50%) translateY(-50%)
    }
    // кнопка
    &-btn {
        display: inline-block;
        font-size: 1.5rem;
        height: 5.5rem;
        width: 100%;
        text-transform: uppercase;
    }
 }
// Typography
section {
    padding: 10rem 0;
}
.section-header {
    &-light {
        color:@light;
    }
    h2 {
        .bold();
        font-size: 3.6rem;
    }
    p {
        font-size: 1.4rem;
    }
    margin-bottom: 5rem;
    text-align: center;
}
// main
.main {
    background: #fff url(../img/mainbga.jpg) center no-repeat;
    background-size: cover;
    padding: 3rem 0 10rem;
    &-content {
        margin-top: 10rem;
        // главный зоголовок
        h1 {
            .bold();

            line-height: 1.45;
            font-size: 4rem;
            text-transform: uppercase;
        }
    }
    // подзоголовок
        &-subtitle {
            font-size: 2.4rem;
            margin: 4rem 0;
        }
        // Зеленый ярлык
        span {
            display: inline-block;
            margin: 2rem 0;
            padding: 2rem 4rem;
            text-align: center;
            background-color:@icons-color;
            font-size: 1.8rem;
            color:@light;
            // цифра 300
            strong {
                font-size: 3rem;
                .bold()
            }
        }
        // оплатапо факту
        &-trigger {
            text-transform: uppercase;
            display: block;
            font-size: 2.2rem;
            margin-top: 2rem;
        }
        // форма ввода
        &-form {
            display: inline-block;
            background-color: @light;
            margin-top: 1.5rem;
            padding: 4rem 5rem;
            text-align: center;
            position: relative;
            &-header {
                font-size: 1.8rem;
                strong {
                    font-size: 1.9rem;
                    margin-bottom: 4rem;
                }
            }
            // подпись
            small {
                display: block;
                margin-top: 1.5rem;
                font-size: 1.2rem;
            }
        }
}
.header {
    height: 7rem;
}
.logo img{
    width:100%;
    height:100%;
}
.wrap {
    display: table;
    width: 100%;
    height: 7rem;
    &-block {
        text-align: right;
        display: table-cell;
        vertical-align: middle;
    }  
}
button, input, textarea {
    &:focus {
        outline: none;
    }
}
.button { 
    padding: 2rem 3rem;
    border-radius: 8px;
    font-size: 1.2rem;
    background-color:@btn-color;
    color: @light;
    text-transform: uppercase;
    border:none;
    transition: all 0.5s;
    &:hover {
        cursor: pointer;
        background-color:lighten(@btn-color,20%);
    }    
}
.phone {
    &-block {
        text-align: right;
    }
        &-link {
            display: inline-block;
            .bold();
            font-weight: 900;
            font-size: 2rem;
            height: 7rem;
            line-height: 7rem;
            color: @text;
            text-decoration: none;
            &:hover {
                color: rgb(44, 44, 160);
            }
            }
            &:visited {
                opacity: 0;;
            }
}
// оформление секции с приемуществами
.features {
    &-block {
        text-align: center;
        h3 {
            font-size: 2rem;
            .bold();
            margin-bottom: 3rem;
        }
        p {
            display: inline-block;
            width: 80%;
            font-size: 1.4rem;
        }
    }
    &-img {
        height: 8rem;
        margin-bottom: 3rem;
        img {
            text-align: center;
            display: block;
            margin: 0 auto;
        }
    }
    &-slider {
        position: relative;
    }
}
//  убрать обводку которой нет.slick-active {
//     outline: none;
// }
.arrow {
    top: 50%;
    transform:translateY(-50%);
    z-index: 99;
    width: 2rem;
    height: 2rem;
    border:none;
    position: absolute;
}
.prev {
    background:url(..img/arrowleft.svg) center no-repeat;
    left: 0;
    background-size:70%;
}
.next {
    background:url(..img/arrowleft.svg) center no-repeat;
    right: 0;
    background-size:70%;
}
// секция с ценами
.price {
    background: @icons-color url(../img/pricebg.jpg) repeat center;
    img {
        padding: 3rem 1rem;
    }
    &-btn {
        text-align: right;
        margin-right: 1.2rem;
    }
    &-block {
        text-align: center;
        h4 {
            font-size: 1.9rem;
            padding-top: 3rem;
            .bold();
        }
        min-height: 40rem;
        background-color: @light;
        display: block;
        text-align: center;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &-list {
        padding: 0rem;
        list-style: none;
        min-height: 13rem;
        font-size: 1.6rem;
        line-height: 1.6;
        li {
            &:before {
                content: '';
                display: inline-block;
                width: 1.7rem;
                height: 1.7rem;
                background: url(../img/check.svg) no-repeat center;
                background-size: 100%;
                vertical-align: middle;
                margin-right: 1rem;
            }
        }
    }
    &-button {
        margin-bottom: 3.5rem;
    }
    &-tag {
        display: block;
        margin-bottom:2rem;
        font-size: 1.9rem;
        .bold();
    }

}
// секция с отзывами
.fotofotorama {
    width: 100%;
    height: 100%;
}
.feedback {
    position: relative;
    background: url(../img/feedback-bg.jpg) no-repeat center;
    background-size:cover;
    .media {
        margin-top: 3rem;
        font-size: 1.4rem;
        h5 {
            .bold();
            font-weight: 700;
        }
    }
    &-text {
        margin-top: 2rem;
        position: relative;
        padding: 1rem;
        border: 2px solid @icons-color;
        font-style: italic;
        &::before {
            content:'';
            left: 4rem;
            display: block;
            position: absolute;
            top: -2rem;
            width: 2rem;
            height: 2rem;
            border:2px solid @icons-color;
            background-color: @light;
            border-bottom: none;
            border-top-right-radius: 100px;
        }
    }
    &-prev-btn {
        left:-4rem;
    }
    &-next-btn {
        right:-4rem;
    }
    &-slider {
        padding: 6rem 6rem;
        background-color: @light;
        box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
        p {
            font-size: 1.6rem;
        }
        &-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 6rem;
            height: 5rem;
            border: none;
            background-color: @icons-color;
        }
    }
    // оформление главной формы
    &-form {
        margin-top: 6rem;
        padding: 4rem 10rem;
        background-color: @light;
        text-align: center;
        h3 {
            .bold();
            font-size: 2rem;
            margin-bottom: 2rem;
        }
        label {
            left: auto;
            transform: translate(-50%, 5px);

        }
    }
    &-btn {
        max-width: 30rem;
        margin: auto;
    }
}
.hand {
    position: absolute;
    bottom:0;
}
// Всплывающие окна
.popup {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    &-close {
        position: absolute;
        top: -0.2rem;
        right: -3rem;
        z-index: 10;
        border:none;
        background-color:transparent;
        font-size: 3rem;
        color: @light;
    }
    &-content {
        position: fixed;
        text-align: center;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
    }
    &-header {
        .bold();
        font-size: 2rem;
        font-weight:545;
        
    }
}
// схема работ
.scheme {
    background: #fff url(../img/hand2.png) bottom -10rem right -10rem no-repeat;
    background-size: 65rem;
    &-block {
        margin-bottom: 5rem;
        h3 {
            font-size: 2rem;
            .bold();
        }
        p {
            font-size: 1.3rem;
        }
    }
}
// все включено
.all-inclusive {
    background: @bg-light;
    .section-header_active {
        h2 {
            color: @icons-color;
            font-weight: 700;
        }
        padding-bottom: 3rem;
    }
    .media {
        min-height: 15rem;
        h4 {
            .bold();
            font-size: 1.9rem;
            font-weight: 700;
        }
        font-size: 1.3rem;
    }
}
.circle {
    display: inline-block;
    background-color: @icons-color;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    &-border {
        display: inline-block;
        width: 5rem;
        height: 5rem;
        padding: 0.3rem;
        border: 2px solid @icons-color;
        border-radius: 50%;
        text-align: center;
        line-height: 4rem;
        color: @light;
        .bold();
            font-size: 1.9rem;
            margin-bottom: 2rem;
    }
}
// блок проблем и решений
.problems {
    position: relative;
    &-women {
        position: absolute;
        width: 30rem;
        margin-left: -18rem;
        bottom: 0;
        left: 50%;
    }
    &-list {
        border: 4px solid @icons-color;
        padding: 2rem;
        min-height: 35rem;
        h4 {
            font-size: 2.1rem;
            .bold()
        }
        ul {
            list-style-type: none;
            padding-top: 2rem;
            padding-left: 0;
            li {
                font-size: 1.5rem;
                margin-bottom: 3rem;
                position: relative;
                padding-left: 3.5rem;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
        &_bad {
            border-color: @problems-color;
            h4 {
                color: @problems-color;
            }
            ul li:before {
                background: url(../img/problems/crossred.svg) center no-repeat;
            }
        }
        &_good {
            ul li:before {
                background: url(../img/problems/goodchek.svg.png) center no-repeat;
                background-size: 80%;
            }
        }
    }
}
// материалы
.materials {
    background: @light url(../img/materials/material-bg.png) 0 0 no-repeat;
    h2 {
        margin-bottom: 2rem;
        font-weight: 700;
    }
    &-offer {
        margin-top: 5rem;
    }
    &-knauf {
        margin-top: 1rem;
        margin-bottom: 2.125rem;
    }
    &-img {
        height: 8rem;
        margin-top: 3rem;
        margin-bottom: 10rem;
        img {
            text-align: center;
            display: block;
            margin: 0 auto;
        }
    }
    &-link {
        color: @icons-color;
        &:hover {
            color: darken(@icons-color, 10%);
        }
        font-size: 1.5rem;
    }
}
// посмотрите как мы работаем
.tour {
    background: @light url(../img/tour-img.png) center left -10rem no-repeat;
    background-size: cover;
    &-subtitle {
        font-size: 2rem;
    }
}
// доп.услуги
.upsell {
    background: @upsell-bg;
    color: @light;
    h2 {
        margin-bottom: 3rem;
    }
    &-block {
        text-align: center;
        min-height: 30rem;
        p {
            font-size: 1.5rem;
        }
        img {
            width:100%;
            max-width: 30rem;
            margin-bottom: 2rem;
        }
    }
    &-btn {
        padding: 1rem 3.3rem;
    }
}

@media (max-width:1440px) {
    .hand {
        display: none;
    }
}

@media (max-width:1350px) {
    .scheme {
        background: none; 
    }
    .hand {
        display: none;
    }
    .problems {
        &-list {
            min-height: 45rem;
        }
    }
}


@media (max-width:991px) {
    .all-inclusive {
        text-align: center;
    }
    .main {
        background-position: top right;
    }
    .main-content {
        text-align: center;
        margin-top: 3rem;
    }
    .main-trigger {
        margin-top: 0rem;
    }
    .price{
        &-btn {
            margin-bottom: 5rem;
            text-align: center;
        }
    }
    .hand {
        display: none;
    }
    .feedback {
        .fotorama {
            margin-bottom: 5rem;
        }
        &-prev-btn {
            left:-1rem;
            top: 40rem;
        }
        &-next-btn {
            right:-1rem;
            top: 40rem;
        }
    }
    .problems {
        &-list {
            min-height: auto;
        }
        &-women {
            display: none;
        }
        &-list_good {
            margin-top:2rem;
        }
    }
}
@media (max-width:767px) {
    .scheme {
        &-main {
            text-align: center;
        }
        text-align: center;
    }
    .main {
        background-position: bottom right;
    }
    .main-content {
        display: inline-block;
        text-align: center;
        margin-top: 30rem;
    }
    .header {
        text-align: center;
    }
    .wrap-block {
        text-align: center;
    }
    .phone-block {
        text-align: center;
    }
}

