@font-face {
  font-family: 'Proxima_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 10px;
}
body {
  font-family: "ProximaNova_reg", sans-serif;
}
.form-input {
  display: block;
  width: 100%;
  border: 0.1rem solid #dddddd;
  padding: 1.5rem;
  margin: 2rem 0;
  font-size: 2rem;
  border-radius: 10px;
}
.form label {
  position: absolute;
  display: inline-block;
  background: #ffffff;
  padding: 0.5rem;
  font-size: 1.3rem;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.form-btn {
  display: inline-block;
  font-size: 1.5rem;
  height: 5.5rem;
  width: 100%;
  text-transform: uppercase;
}
section {
  padding: 10rem 0;
}
.section-header {
  margin-bottom: 5rem;
  text-align: center;
}
.section-header-light {
  color: #ffffff;
}
.section-header h2 {
  font-family: "ProximaNova_bold", sans-serif;
  font-size: 3.6rem;
}
.section-header p {
  font-size: 1.4rem;
}
.main {
  background: #ffffff url(../img/mainbga.jpg) center no-repeat;
  background-size: cover;
  padding: 3rem 0 10rem;
}
.main-content {
  margin-top: 10rem;
}
.main-content h1 {
  font-family: "ProximaNova_bold", sans-serif;
  line-height: 1.45;
  font-size: 4rem;
  text-transform: uppercase;
}
.main-subtitle {
  font-size: 2.4rem;
  margin: 4rem 0;
}
.main span {
  display: inline-block;
  margin: 2rem 0;
  padding: 2rem 4rem;
  text-align: center;
  background-color: #70c849;
  font-size: 1.8rem;
  color: #ffffff;
}
.main span strong {
  font-size: 3rem;
  font-family: "ProximaNova_bold", sans-serif;
}
.main-trigger {
  text-transform: uppercase;
  display: block;
  font-size: 2.2rem;
  margin-top: 2rem;
}
.main-form {
  display: inline-block;
  background-color: #ffffff;
  margin-top: 1.5rem;
  padding: 4rem 5rem;
  text-align: center;
  position: relative;
}
.main-form-header {
  font-size: 1.8rem;
}
.main-form-header strong {
  font-size: 1.9rem;
  margin-bottom: 4rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
.header {
  height: 7rem;
}
.logo img {
  width: 100%;
  height: 100%;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}
button:focus,
input:focus,
textarea:focus {
  outline: none;
}
.button {
  padding: 2rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #fbb203;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  transition: all 0.5s;
}
.button:hover {
  cursor: pointer;
  background-color: #fdd167;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  font-family: "ProximaNova_bold", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
  text-decoration: none;
}
.phone-link:hover {
  color: #2c2ca0;
}
.phone:visited {
  opacity: 0;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 2rem;
  font-family: "ProximaNova_bold", sans-serif;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.4rem;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  text-align: center;
  display: block;
  margin: 0 auto;
}
.features-slider {
  position: relative;
}
.arrow {
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  position: absolute;
}
.prev {
  background: url(..img/arrowleft.svg) center no-repeat;
  left: 0;
  background-size: 70%;
}
.next {
  background: url(..img/arrowleft.svg) center no-repeat;
  right: 0;
  background-size: 70%;
}
.price {
  background: #70c849 url(../img/pricebg.jpg) repeat center;
}
.price img {
  padding: 3rem 1rem;
}
.price-btn {
  text-align: right;
  margin-right: 1.2rem;
}
.price-block {
  min-height: 40rem;
  background-color: #ffffff;
  display: block;
  text-align: center;
}
.price-block h4 {
  font-size: 1.9rem;
  padding-top: 3rem;
  font-family: "ProximaNova_bold", sans-serif;
}
.price-block img {
  width: 100%;
  height: 100%;
}
.price-list {
  padding: 0rem;
  list-style: none;
  min-height: 13rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
.price-list li:before {
  content: '';
  display: inline-block;
  width: 1.7rem;
  height: 1.7rem;
  background: url(../img/check.svg) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
  margin-right: 1rem;
}
.price-button {
  margin-bottom: 3.5rem;
}
.price-tag {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.9rem;
  font-family: "ProximaNova_bold", sans-serif;
}
.fotofotorama {
  width: 100%;
  height: 100%;
}
.feedback {
  position: relative;
  background: url(../img/feedback-bg.jpg) no-repeat center;
  background-size: cover;
}
.feedback .media {
  margin-top: 3rem;
  font-size: 1.4rem;
}
.feedback .media h5 {
  font-family: "ProximaNova_bold", sans-serif;
  font-weight: 700;
}
.feedback-text {
  margin-top: 2rem;
  position: relative;
  padding: 1rem;
  border: 2px solid #70c849;
  font-style: italic;
}
.feedback-text::before {
  content: '';
  left: 4rem;
  display: block;
  position: absolute;
  top: -2rem;
  width: 2rem;
  height: 2rem;
  border: 2px solid #70c849;
  background-color: #ffffff;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback-slider {
  padding: 6rem 6rem;
  background-color: #ffffff;
  box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6rem;
  height: 5rem;
  border: none;
  background-color: #70c849;
}
.feedback-form {
  margin-top: 6rem;
  padding: 4rem 10rem;
  background-color: #ffffff;
  text-align: center;
}
.feedback-form h3 {
  font-family: "ProximaNova_bold", sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.feedback-form label {
  left: auto;
  transform: translate(-50%, 5px);
}
.feedback-btn {
  max-width: 30rem;
  margin: auto;
}
.hand {
  position: absolute;
  bottom: 0;
}
.popup {
  display: none;
  position: fixed;
  z-index: 11;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-close {
  position: absolute;
  top: -0.2rem;
  right: -3rem;
  z-index: 10;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.popup-content {
  position: fixed;
  text-align: center;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
.popup-header {
  font-family: "ProximaNova_bold", sans-serif;
  font-size: 2rem;
  font-weight: 545;
}
.scheme {
  background: #ffffff url(../img/hand2.png) bottom -10rem right -10rem no-repeat;
  background-size: 65rem;
}
.scheme-block {
  margin-bottom: 5rem;
}
.scheme-block h3 {
  font-size: 2rem;
  font-family: "ProximaNova_bold", sans-serif;
}
.scheme-block p {
  font-size: 1.3rem;
}
.all-inclusive {
  background: #f5f5f5;
}
.all-inclusive .section-header_active {
  padding-bottom: 3rem;
}
.all-inclusive .section-header_active h2 {
  color: #70c849;
  font-weight: 700;
}
.all-inclusive .media {
  min-height: 15rem;
  font-size: 1.3rem;
}
.all-inclusive .media h4 {
  font-family: "ProximaNova_bold", sans-serif;
  font-size: 1.9rem;
  font-weight: 700;
}
.circle {
  display: inline-block;
  background-color: #70c849;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  border: 2px solid #70c849;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #ffffff;
  font-family: "ProximaNova_bold", sans-serif;
  font-size: 1.9rem;
  margin-bottom: 2rem;
}
.problems {
  position: relative;
}
.problems-women {
  position: absolute;
  width: 30rem;
  margin-left: -18rem;
  bottom: 0;
  left: 50%;
}
.problems-list {
  border: 4px solid #70c849;
  padding: 2rem;
  min-height: 35rem;
}
.problems-list h4 {
  font-size: 2.1rem;
  font-family: "ProximaNova_bold", sans-serif;
}
.problems-list ul {
  list-style-type: none;
  padding-top: 2rem;
  padding-left: 0;
}
.problems-list ul li {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  position: relative;
  padding-left: 3.5rem;
}
.problems-list ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
}
.problems-list_bad {
  border-color: rgba(165, 146, 146, 0.5);
}
.problems-list_bad h4 {
  color: rgba(165, 146, 146, 0.5);
}
.problems-list_bad ul li:before {
  background: url(../img/problems/crossred.svg) center no-repeat;
}
.problems-list_good ul li:before {
  background: url(../img/problems/goodchek.svg.png) center no-repeat;
  background-size: 80%;
}
.materials {
  background: #ffffff url(../img/materials/material-bg.png) 0 0 no-repeat;
}
.materials h2 {
  margin-bottom: 2rem;
  font-weight: 700;
}
.materials-offer {
  margin-top: 5rem;
}
.materials-knauf {
  margin-top: 1rem;
  margin-bottom: 2.125rem;
}
.materials-img {
  height: 8rem;
  margin-top: 3rem;
  margin-bottom: 10rem;
}
.materials-img img {
  text-align: center;
  display: block;
  margin: 0 auto;
}
.materials-link {
  color: #70c849;
  font-size: 1.5rem;
}
.materials-link:hover {
  color: #58aa34;
}
.tour {
  background: #ffffff url(../img/tour-img.png) center left -10rem no-repeat;
  background-size: cover;
}
.tour-subtitle {
  font-size: 2rem;
}
.upsell {
  background: #286b0a;
  color: #ffffff;
}
.upsell h2 {
  margin-bottom: 3rem;
}
.upsell-block {
  text-align: center;
  min-height: 30rem;
}
.upsell-block p {
  font-size: 1.5rem;
}
.upsell-block img {
  width: 100%;
  max-width: 30rem;
  margin-bottom: 2rem;
}
.upsell-btn {
  padding: 1rem 3.3rem;
}
@media (max-width: 1440px) {
  .hand {
    display: none;
  }
}
@media (max-width: 1350px) {
  .scheme {
    background: none;
  }
  .hand {
    display: none;
  }
  .problems-list {
    min-height: 45rem;
  }
}
@media (max-width: 991px) {
  .all-inclusive {
    text-align: center;
  }
  .main {
    background-position: top right;
  }
  .main-content {
    text-align: center;
    margin-top: 3rem;
  }
  .main-trigger {
    margin-top: 0rem;
  }
  .price-btn {
    margin-bottom: 5rem;
    text-align: center;
  }
  .hand {
    display: none;
  }
  .feedback .fotorama {
    margin-bottom: 5rem;
  }
  .feedback-prev-btn {
    left: -1rem;
    top: 40rem;
  }
  .feedback-next-btn {
    right: -1rem;
    top: 40rem;
  }
  .problems-list {
    min-height: auto;
  }
  .problems-women {
    display: none;
  }
  .problems-list_good {
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  .scheme {
    text-align: center;
  }
  .scheme-main {
    text-align: center;
  }
  .main {
    background-position: bottom right;
  }
  .main-content {
    display: inline-block;
    text-align: center;
    margin-top: 30rem;
  }
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .phone-block {
    text-align: center;
  }
}
